#include <stdio.h>
#include <sys/time.h>
#include <sys/resource.h>

struct pix{
  unsigned int r, g, b;
};

#define TAM <VALUE>

struct pix color [TAM][TAM];

int main(){
  double ti,tf,tempo;
  ti = tf = tempo = 0;
  struct timeval tempo_inicio, tempo_fim;
  gettimeofday(&tempo_inicio, NULL);

  //CODE

  printf("%d ", TAM);

  int i, j;
  for (i = 0; i<TAM; i++)
      for (j=0; j<TAM; j++){
          color[j][i].r=
            (
                color[j][i].r +
                color[j][i].g +
                color[j][i].b
            )/3;
      }


  //CODE

  gettimeofday(&tempo_fim, NULL);
  tf = (double)tempo_fim.tv_usec + ((double)tempo_fim.tv_sec * (1000000.0));
  ti = (double)tempo_inicio.tv_usec + ((double)tempo_inicio.tv_sec * (1000000.0));
  tempo = (tf - ti)/1000;
  printf("%f ", tempo);

  return 0;
}
